{% extends "singan_web/base.html" %}
{% load static %}

{% block content %}
    {{ block.super }}
    <h2>SinGAN ist training on your image.</h2>

    <img src="{{ image_model.image.url }}" alt="Uploaded image" class="img-thumbnail" id="img-upload">

    {{ task_id }}

    <div class="progress">
        <div id="progress-bar" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75"
             aria-valuemin="0" aria-valuemax="100" style="width: 0"></div>
    </div>

    <div id="progress-label"></div>

    <p>This may take a while (up to 3 h). In the meantime you may take a look at...</p>

    <script type="text/javascript">
        var pgrbar = $('#progress-bar');
        var lbl = $('#progress-label');

        function get_task_info(task_id) {
            $.ajax({
                type: 'get',
                url: task_id,
                success: function (data) {
                    lbl.html('');
                    if (data.state === 'PENDING') {
                        lbl.html('Please wait...');
                    }
                    else if (data.state === 'PROGRESS' || data.state === 'SUCCESS') {
                        pgrbar.css('width', data.result.percent + '%');
                        pgrbar.html(data.result.percent + ' %');
                        lbl.html('Steps computed: ' + data.result.current + ' out of ' + data.result.total);
                    }
                    if (data.state === 'SUCCESS') {
                        window.location.replace({% url 'generate' %});
                    }
                    if (data.state !== 'SUCCESS') {
                        setTimeout(function () {
                            get_task_info(task_id)
                        }, 1000);
                    }
                },
                error: function (data) {
                    lbl.html("Something went wrong!");
                }
            });
        }

        var progressUrl = '{% url "get-task-info" task_id %}';
        get_task_info(progressUrl);
    </script>
{% endblock %}