{% extends "singan_web/base.html" %}

{% block content %}
    {{ block.super }}
    <p>Welcome to the interactive webapp for experimenting with <b>SinGANs</b>!</p>

    <h2>Select from some pre-trained models</h2>



    <h2>Or train a new SinGAN</h2>
    <form action="{% url 'submit-training-form' %}" method="post" enctype="multipart/form-data">
        <label>Upload Image</label>
        {% csrf_token %}
        {{ form }}
        <input type="submit" class="button" value="Submit">
    </form>
{% endblock %}