{% extends "singan_web/base.html" %}

{% block content %}
    {{ block.super }}
    <p>Welcome to the interactive page for experimenting with a <b>SinGAN</b>!</p>
    <p>Please upload an image:</p>

    <div class="container">
        <div class="col-md-6">
            <div class="form-group">
                <label>Upload Image</label>
                <div class="input-group">
                    <span class="input-group-btn">
                        <span class="btn btn-default btn-file">
                            Browse… <input type="file" id="imgInp">
                        </span>
                    </span>
                    <input type="text" class="form-control" readonly>
                </div>
                <img id='img-upload'/>
            </div>
        </div>
    </div>
{% endblock %}